{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include 'partials/head.html' %}
</head>
<body>
    {% include 'partials/header.html' %}
    <main class="container__main">
        <div class="post">
            <h1>Create post</h1>
            <form class="form-post"  action="{% url 'create-post' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Title" name="title">
                <textarea  placeholder="Digite seu texto aqui..." name="text_post"></textarea>
                <input type="file" name="image">
                <button type="submit">Send</button>
            </form>
        </div>
    </main>
    
    
    
