{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

{% include 'partials/head.html' %}

<body>
    {% include 'partials/header.html' %}
    {% include 'partials/messages.html' %}
    <div class="home">
      <div class="container">
        {% for user in users %}
        
            {% for post in user.posts.all %}
             
                {% include 'partials/post.html' %}
              
            {% endfor %}   
        
        {% endfor %}   
      </div>     
    </div>
    
</body>
</html>