{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Register</title>

</head>
<body>
    <header class="container__header">
        <a class="logo" href="">AleVerse</a>
        <nav>
            <a href="">home</a>
            <a href="">usuarios</a>
            <a href="">editar perfil</a>
            <a href="">sair</a>
        </nav>
    </header>
    <main class="container__main">
        <section class="container__login">
            <h1>Register</h1>
            <form class="form__register" action="">
                <input type="text" placeholder="username" name="username">
                <input type="text" name="" id="" placeholder="email" name="email">
                <input type="password" placeholder="password" name="email">
                <input type="password" placeholder="repeat password">
                <button  type="submit">Send</button>
            </form>      
        </section>
    </main>
</body>
</html>