{% extends 'base.html' %}
{% block content %}
<main class="container__main">
    <section class="container__register" >
        <h1>Register</h1>
        <form class="form__register" action="{% url 'create-register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span class="form-errors">{{error}}</span>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <input type="file" name="image">
            <button class="button-send"  type="submit">Send</button>

        </form>
    </section>
</main>
{% endblock content %}
