<header class="container__header">
    <a class="logo" href="">AleVerse</a>
    <nav>
        <a href="">Users</a>
        {% if request.user.is_authenticated %}
            <a href="">Edit profile</a>
            <a href="{% url 'post' %}">Create post </a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="button-logout">Logout</button>
            </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a> 
        {% endif %}

    </nav>
</header>