<div class="card">
    <div class="top">
        <div class="userDeatils">
            <div class="profileImg">
                <img src="{{ post.author.photo.url }}" alt="user" class="cover">
            </div>
            <h3>{{ post.author }}<br></h3>
        </div>
        <div class="dot">
            <img src="{{ MEDIA_URL }}dot.png" alt="dot">
        </div>
    </div>
    <div class="imgBg">
        <img src="{{ post.image.url }}" alt="bg" class="cover">
    </div>
    <div class="btns">
        <div class="left">
            <img src="{{ MEDIA_URL }}heart.png" alt="heart" class="heart" onclick="likeButton()">
            <img src="{{ MEDIA_URL }}comment.png" class="comment" alt="comment">
            <img src="{{ MEDIA_URL }}share.png" alt="share">
        </div>
        <div class="right">
            <img src="{{ MEDIA_URL }}bookmark.png" alt="bookmark">
        </div>
    </div>
    <h4 class="likes">5,489 likes</h4>
    <h4 class="message">
        <b>{{ post.title }}</b>
        {{ post.text_post }}
        
    </h4>
    <h4 class="comments">View all 546 comments</h4>
    <div class="addComments">
        <div class="userImg">
            <img src="{{ post.author.photo.url }}" alt="user" class="cover">
        </div>
        <input type="text" class="text" placeholder="Add a comment...">
    </div>
    <h5 class="postTime">{{ post.created_at }}</h5>
</div>