<div class="card-container">
		<img class="round" src="{{ i.photo.url }}" alt="user" />
	<a href="{% url 'area_user' i.id %}"><h3>{{ i.username }}</h3></a>
	
	<div class="buttons">
		<button class="primary ghost">
			<a class="link-seguir" href="{% url 'follow' i.id %}">Seguir</a>
		</button>
		<button class="primary ghost">
			{{ i.contar_seguidores }} Seguidores
		</button>
		
	</div>
	<form class="message" action="{% url 'room' i.id %}">
		<button type="submit" class="primary">
			Message
		</button>
	</form>
	<div class="skills">
	
	</div>
</div>
