.body1 {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}



.nav-container {
    width: 100vw;
    background-color: #1e1e1e;
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Fira Code', monospace;
}

.nav-links {
    display: flex;
    gap: 30px;
    margin-right: 20px;
}

.nav-link {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4em;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: radial-gradient(circle, #26ec79, #000000);
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover {
    color: #ffffff;
}

.nav-link:hover::after {
    width: 100%;
}

.notification-bell {
    position: relative;
    cursor: pointer;
    left: -10px;
}

.notification-bell i {
    color: #e0e0e0;
    font-size: 2em;
    transition: color 0.3s;
}

.notification-bell.active i {
    color: #ffd700;
    animation: ring 0.2s;
}

@keyframes ring {
    0% { transform: rotate(0); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(-15deg); }
    75% { transform: rotate(15deg); }
    100% { transform: rotate(0); }
}

.followers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;
}

.follower-card {
    background-color: #2c2c2c;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 300px;
    transition: transform 0.3s;
}

.follower-card:hover {
    transform: translateY(-10px);
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #e0e0e0;
}

p {
    color: #b0b0b0;
    margin: 5px 0 20px;
}

.btn{
    display:flex;
    gap: 0.5rem;
}

.follow-btn {
    display:flex;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}
.follow-btn a {
    color:white;
}

.message-btn a{
    color:white;
}
.message-btn {
    display:flex;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.follow-btn:hover, .message-btn:hover {
    background-color: #0056b3;
}



.message-btn:hover {
    background-color: #218838;
}

/* Media query para dispositivos com largura máxima de 600px (celulares) */
@media screen and (max-width: 600px) {
    .menu-icon {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        font-size: 1.2em;
        padding: 10px 0;
    }
}



