{% extends 'base.html' %}
{% block content %}
    <div class="chat-container" id="chatContainer">
        <div class="chat-header">
            <div class="nav-icons">
                <a href=" {% url 'users' %}" class="fas fa-arrow-left"></a>
                    <img src="{{ receive.photo.url }}" alt="Cliente" class="avatar">
                <div class="contact-name">
                    {{ receive.username }}
                </div>
            </div>
            <div class="action-icons">
                <i class="fas fa-video"></i>
                <i class="fas fa-phone-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <div class="chat-messages" id="chat-messages">
            {% for i in messages %}
                {% if i.sender != request.user.username %}
                    <div class="message received">
                        <img src="{{  receive.photo.url  }}" alt="Cliente" class="message-avatar">
                        <div class="message-content-wrapper">
                            <div class="message-content">{{ i.message_decrypted }}</div>
                            <div class="message-time">19:30</div>
                        </div>
                    </div>
                {% else %}   
                    <div class="message sent">
                        <img src="{{request.user.photo.url}}" alt="Você" class="message-avatar">
                        <div class="message-content-wrapper">
                            <div class="message-content">{{ i.message_decrypted }}</div>
                            <div class="message-time">19:31</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="chat-input">
            <button type="button" id="photo-button"><i class="fas fa-camera"></i></button>
            <button type="button" id="file-button"><i class="fas fa-paperclip"></i></button>
            <form action="" id="message-form" method="POST">
                {% csrf_token %}
                <input type="text"  id="msg" placeholder="Digite uma mensagem...">
                <button type="submit" class="submit" id="send-button"><i class="fas fa-paper-plane"></i></button>
            </form>
        </div>
    </div>
<script>
    function scrollToBottom() {
        var chatContainer = document.getElementById("chatContainer");
        chatContainer.scrollTop = chatContainer.scrollHeight;
    }

   // Determine the WebSocket protocol based on the application's URL
    const websocketProtocol = window.location.protocol === "https:" ? "ws" : "wss";
    var room_name = "{{ room_name }}";
    const wsEndpoint = `${websocketProtocol}://${window.location.host}/ws/notification/${room_name}/`;
    console.log(room_name);
    console.log(wsEndpoint);
    const currentUrl = window.location.pathname;
    const chatPageUrl = '/a881285e-7197-4c32-812a-1363f035c93a/{{request.user.username}}/';
    console.log(currentUrl);
    console.log(chatPageUrl);

    // Create a new WebSocket connection
    const socket = new WebSocket(wsEndpoint);

    // Successful connection event
    socket.onopen = (event) => {
        console.log("WebSocket connection opened!");
    };

    // Socket disconnect event
    socket.onclose = (event) => {
        console.log("WebSocket connection closed!");
    };

    // Form submit listener
    document.getElementById('message-form').addEventListener('submit', function(event){
        event.preventDefault();
        const message = document.getElementById('msg').value;
        const messageId = uuidv4();
        socket.send(
            JSON.stringify({
                'message_id': messageId,
                'message': message,
                'room_name': '{{room_name}}',
                'sender': '{{ request.user.username }}',
                'receive': '{{ receive }}'
            })
        );
        document.getElementById('msg').value = '';
    });
    // recebe os dados do consumers.py e envia para todos conectados na url
    socket.addEventListener("message", (event) => {
        const messageData = JSON.parse(event.data)['message'];

        var sender = messageData['sender'];
        console.log(sender);
        var message = messageData['message'];



        // Empty the message input field after the message has been sent

        var messageDiv = document.querySelector('.chat-messages');
        if (sender != '{{ request.user.username }}') {

        messageDiv.innerHTML += '<div class="message received">' +
                                        '<img src=" {{ receive.photo.url }}" alt="Cliente" class="message-avatar">' +
                                    '<div class="message-content-wrapper">' +
                                        '<div class="message-content">' + message + '</div>' +
                                        '<div class="message-time">19:30</div>' +
                                    '</div>' +
                                '</div>';
        } else {
        messageDiv.innerHTML += '<div class="message sent">' +
                                    '<img src=" {{ request.user.photo.url }} " alt="Você" class="message-avatar">' +
                                    '<div class="message-content-wrapper">' +
                                        '<div class="message-content">' + message + '</div>' +
                                        '<div class="message-time">19:31</div>' +
                                    '</div>' +
                                '</div>';
                    }

        scrollToBottom();
    });


    function uuidv4() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                const r = (Math.random() * 16) | 0,
                      v = c === 'x' ? r : (r & 0x3) | 0x8;
                return v.toString(16);
            });
        };


</script>
{% endblock content %}