{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Messages</title>
    <link rel="stylesheet" href="{% static 'room.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="chat-container" id="chatContainer">
        <div class="chat-header">
            <div class="nav-icons">
                <a href=" {% url 'users' %}" class="fas fa-arrow-left"></a>

                    <img src="{{ receive.photo.url }}" alt="Cliente" class="avatar">

                
                <div class="contact-name">
                        {{ receive.username }}
                </div>
            </div>
            <div class="action-icons">
                <i class="fas fa-video"></i>
                <i class="fas fa-phone-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <div class="chat-messages" id="chat-messages">
            {% for i in messages %}
                {% if i.sender != request.user.username %}
                    <div class="message received">
                        <img src="{{  receive.photo.url  }}" alt="Cliente" class="message-avatar">
                        <div class="message-content-wrapper">
                            <div class="message-content">{{ i.message_decrypted }}</div>
                            <div class="message-time">19:30</div>
                        </div>
                    </div>
                {% else %}   
                    <div class="message sent">
                        <img src="{{request.user.photo.url}}" alt="Você" class="message-avatar">
                        <div class="message-content-wrapper">
                            <div class="message-content">{{ i.message_decrypted }}</div>
                            <div class="message-time">19:31</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="chat-input">
            <button type="button" id="photo-button"><i class="fas fa-camera"></i></button>
            <button type="button" id="file-button"><i class="fas fa-paperclip"></i></button>
            <form action="" id="message-form" method="POST">
                {% csrf_token %}
                <input type="text"  id="msg" placeholder="Digite uma mensagem...">
                <button type="submit" class="submit" id="send-button"><i class="fas fa-paper-plane"></i></button>
            </form>
        </div>
    </div>
<script>
    function scrollToBottom() {
        var chatContainer = document.getElementById("chatContainer");
        chatContainer.scrollTop = chatContainer.scrollHeight;
    }

   // Determine the WebSocket protocol based on the application's URL
    const websocketProtocol = window.location.protocol === "https:" ? "wss" : "ws";
    const wsEndpoint = `${websocketProtocol}://${window.location.host}/ws/notification/{{room_name}}/`;

    // Create a new WebSocket connection
    const socket = new WebSocket(wsEndpoint);

    // Successful connection event
    socket.onopen = (event) => {
        console.log("WebSocket connection opened!");
    };

    // Socket disconnect event
    socket.onclose = (event) => {
        console.log("WebSocket connection closed!");
    };

    // Form submit listener
    document.getElementById('message-form').addEventListener('submit', function(event){
        event.preventDefault();
        const message = document.getElementById('msg').value;
        const messageId = uuidv4();
        console.log(messageId);
        socket.send(
            JSON.stringify({
                'message_id': messageId,
                'message': message,
                'room_name': '{{room_name}}',
                'sender': '{{ request.user.username }}',
                'receive': '{{ receive }}'
            })
        );
        document.getElementById('msg').value = '';
    });
    // recebe os dados do consumers.py e envia para todos conectados na url
    socket.addEventListener("message", (event) => {
        const messageData = JSON.parse(event.data)['message'];

        var sender = messageData['sender'];
        var message = messageData['message']['message'];



        // Empty the message input field after the message has been sent

        var messageDiv = document.querySelector('.chat-messages');
        if (sender != '{{ request.user.username }}') {
        messageDiv.innerHTML += '<div class="message received">' +
                                        '<img src=" {{ receive.photo.url }}" alt="Cliente" class="message-avatar">' +
                                    '<div class="message-content-wrapper">' +
                                        '<div class="message-content">' + message + '</div>' +
                                        '<div class="message-time">19:30</div>' +
                                    '</div>' +
                                '</div>';
        } else {
        messageDiv.innerHTML += '<div class="message sent">' +
                                    '<img src=" {{ request.user.photo.url }} " alt="Você" class="message-avatar">' +
                                    '<div class="message-content-wrapper">' +
                                        '<div class="message-content">' + message + '</div>' +
                                        '<div class="message-time">19:31</div>' +
                                    '</div>' +
                                '</div>';
                    }

        scrollToBottom();
    });


    function uuidv4() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                const r = (Math.random() * 16) | 0,
                      v = c === 'x' ? r : (r & 0x3) | 0x8;
                return v.toString(16);
            });
        };

</script>

</body>

</html>