{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Messages</title>
    <link rel="stylesheet" href="{% static 'room.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

    <div class="chat-container" id="chatContainer">
        <div class="chat-header">
            <div class="nav-icons">
                <a href=" {% url 'users' %}" class="fas fa-arrow-left"></a>
                {% for user in receive %}
                    <img src="{{ user.photo.url }}" alt="Cliente" class="avatar">
                {% endfor %}
                
                <div class="contact-name">
                    {% for user in receive %}
                        {{ user.username }}
                    {% endfor %}
                </div>
            </div>
            <div class="action-icons">
                <i class="fas fa-video"></i>
                <i class="fas fa-phone-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <div class="chat-messages" id="chat-messages">
            {% for i in messages %}
                {% if i.sender != user %}
                    <div class="message received">
                        {% for user in receive %}

                        <img src="{{  user.photo.url  }}" alt="Cliente" class="message-avatar">
                        {% endfor %}
                        <div class="message-content-wrapper">
                            <div class="message-content">{{i.message.message_decrypted}}</div>
                            <div class="message-time">19:30</div>
                        </div>
                    </div>
                {% else %}   
                    <div class="message sent">
                        <img src="{{request.user.photo.url}}" alt="Você" class="message-avatar">
                        <div class="message-content-wrapper">
                            <div class="message-content">{{i.message.message_decrypted}}</div>
                            <div class="message-time">19:31</div>
                        </div>
                    </div>
                 {% endif %}   
             {% endfor %}    
        </div>
        <div class="chat-input">
            <button type="button" id="photo-button"><i class="fas fa-camera"></i></button>
            <button type="button" id="file-button"><i class="fas fa-paperclip"></i></button>
            <form action="" id="message-form" method="POST">
                {% csrf_token %}
                <input type="text"  id="msg" placeholder="Digite uma mensagem...">
                <button type="submit" class="submit" id="send-button"><i class="fas fa-paper-plane"></i></button>
            </form>
           
        </div>
    </div>

</body>
<script>
    function scrollToBottom() {
        var chatContainer = document.getElementById("chatContainer");
        chatContainer.scrollTop = chatContainer.scrollHeight;
    }

   // Determine the WebSocket protocol based on the application's URL
    const websocketProtocol = window.location.protocol === "https:" ? "wss" : "ws";
    const wsEndpoint = `${websocketProtocol}://${window.location.host}/ws/notification/{{room_name}}/`;

    // Create a new WebSocket connection
    const socket = new WebSocket(wsEndpoint);

    // Successful connection event
    socket.onopen = (event) => {
        console.log("WebSocket connection opened!");
    };

    // Socket disconnect event
    socket.onclose = (event) => {
        console.log("WebSocket connection closed!");
    };
    // Form submit listener
    document.getElementById('message-form').addEventListener('submit', function(event){
        event.preventDefault();
        const message = document.getElementById('msg').value;
        console.log(message)
        socket.send(
            JSON.stringify({
                'message': message,
                'room_name': '{{room_name}}',
                'sender': '{{user}}',
            })
        );
    });
    // recebe os dados do consumers.py e envia para todos conectados na url
    socket.addEventListener("message", (event) => {
        const messageData = JSON.parse(event.data)['message'];
        console.log(messageData);

        var sender = messageData['sender'];
        var message = messageData['message'];


        // Empty the message input field after the message has been sent
        if (sender == '{{user}}'){
            document.getElementById('msg').value = '';
        }
        var messageDiv = document.querySelector('.chat-messages');
        if (sender != '{{user}}') {
        messageDiv.innerHTML += '<div class="message received">' + 
                                    '{% for user in receive %}' +
                                        '<img src=" {{ user.photo.url }}" alt="Cliente" class="message-avatar">' +
                                    '{% endfor %}' +
                                    '<div class="message-content-wrapper">' +
                                        '<div class="message-content">' + message + '</div>' +
                                        '<div class="message-time">19:30</div>' +
                                    '</div>' +
                                '</div>';
        } else {
        messageDiv.innerHTML += '<div class="message sent">' +
                                    '<img src=" {{ request.user.photo.url }} " alt="Você" class="message-avatar">' +
                                    '<div class="message-content-wrapper">' +
                                        '<div class="message-content">' + message + '</div>' +
                                        '<div class="message-time">19:31</div>' +
                                    '</div>' +
                                '</div>';
                    }

        scrollToBottom();
    });




document.getElementById('photo-button').addEventListener('click', function() {
    alert('Enviar foto ainda não implementado');
});

document.getElementById('file-button').addEventListener('click', function() {
    alert('Enviar arquivo ainda não implementado');
});



</script>

</html>